<div *ngIf="this.currentTurn !== this.endTurn || this.endTurn === 0">
    <div class="fullTop">
        <div *ngIf="this.firstOpenLocal === undefined">Aby rozpocząć grę przygotuj mapę</div>
        <button *ngIf="this.firstOpenLocal === undefined" (click)="prepareMap()">Losuj mape</button>
        <div *ngIf="this.firstOpenLocal !== undefined && this.currentTurn === 0">
            <h2>Otwarte lokale:</h2>
            <div> Dzielnica: {{this.firstOpenLocal.district}} lokal numer: {{this.firstOpenLocal.localNumber}} </div>
            <div> Dzielnica: {{this.secondOpenLocal.district}} lokal numer: {{this.secondOpenLocal.localNumber}} </div>
            <button (click)="startGame()">Zacznij gre</button>
        </div>
    </div>
    <div class="top" *ngIf="this.firstOpenLocal !== undefined && this.currentTurn !== 0">
        <div>
            Tura: {{this.currentTurn}}
        </div>
        <div *ngIf="this.firstOpenLocal !== undefined && this.currentTurn !== 0">
            <button (click)="newTurn()">nowa tura</button>
            <div>
                z kroniki Nowego Jorku (wydarzenia)
            </div>
            <div> 
                {{this.rndEventSelect.title}} {{this.rndEventSelect.description}}
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="left">
            <div *ngIf="this.firstOpenLocal !== undefined && this.currentTurn !== 0">
                <button (click)="newTransportEvent()">losuj event Transportowy</button>
                transportowe komplikacje{{this.transportEvent.title}} {{this.transportEvent.description}}
            </div>
        </div>
        <div class="right">
            <div *ngIf="this.firstOpenLocal !== undefined && this.currentTurn !== 0">
                <button (click)="throwBone()">Rzuć kością</button>
                łut szczęścia {{this.boneThrow}}
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.currentTurn === this.endTurn && this.endTurn !== 0">
    KONIEC GRY
</div>