div {
    
}

.fullTop {
    width: 100%;
    text-align: center;
    div {
        padding: 30px;
    }
}
.top {
    height: 100px;
    padding: 20px;
    text-align: center;
}
.bottom {
    width: 100%;
    .left {
        width: 48%;
        float: left;
    }

    .right {
        width: 48%;
        float: right;
    }
}